* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: 120px;
    height: 120px;
    background-color: #484848;
    border: 10px solid #FFD700;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}