* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 400px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #F5F5F5;
    font-size: 70px;
    font-family: 'Pacifico', cursive;
}

.container {
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: 120px;
    height: 120px;
    background-color: #484848;
    border: 10px solid #FFD700;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}